* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("images/Untitled\ design.png");
    background-size: cover;
    background-position: top-center;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 2vh;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container h3 {
    font-size: 24px;
    
}
.container h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container p {
    width: 60%;
    padding: 20px 0;
    line-height: 24px;
}
.container a {
    display: inline;
    margin-right: 15px;
    background-image: linear-gradient(to right, blue, green);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-txt {
    width: 50%;
    height: 100vh;
    float: left;
    margin: auto;
    padding-top: 200px;
    
}

.banner-img {
    width: 50%;
    overflow: hidden;
}

.banner-img img {
    width: 80%;

}

.experience .container > h2 {
    font-size: 48px;
    padding-bottom: 100px;

}

.left-area, .right-area {
    width: 45%;
    float: left;
    text-align: left;
    background: rgba(160, 155, 155, 0.486);
    padding: 30px 20px;
}
.left-area h3, .right-area h3 {
    font-size: 38px;
}
.left-area span, .right-area span {
    font-size: 24px;
    color: orange;
}
.left-area p, .right-area p {
    color: dimgray;
}
.right-area {
    margin-left: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow, green, purple);
    border-image-slice: 1;
}

table {
    border-collapse: collapse;
}

.second-table {
    border: 1px solid #000;
}

.second-table th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

.form {
    width: 450px;
    background-image: linear-gradient(to right, purple, rgb(160, 13, 13));
    margin: 0 auto;
    padding: 40px 0;
}

.form form {
    width:400px;
    padding: 70px 50px;
    background-color: #fff;
    margin: 0 auto;
}

.form form h2 {
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.form form .login, .signup {
    width: 45%;
    display: block;
    float: left;
    background-image: linear-gradient(to right, purple, rgba(161, 10, 10, 0.671));
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    text-align: center;
}
.form form .signup {
    background-image: none;
    border: 1px solid #010101 !important;
    color: #000;
}
.form form input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    outline: none;
    outline-offset: none;
   
}

.forgotpass {
    font-size: 14px;
    text-decoration: none;
    color: red;
}

.form form input[type=submit] {
    background-image: linear-gradient(to right, purple, rgb(172, 18, 18));
    border: none;
    border-radius: 3px;
    color: #fff;

}

.transform .box {
    border: 1px solid #ddd;
    width: 300px;
    height: 300px;
    background-color:rgb(160, 13, 13);
}

.transform .box .inner {
    background: greenyellow;
    transform: rotate(45deg);
}

.transition .transition-box {
    width: 200px;
    height: 200px;
    background-color: cyan;
    transform: rotate(90deg);
    border-radius: 50%;
}

.transition .transition-box:hover {
    
}

.bat-heating {
    margin-top: 200px;
    margin-left: 200px;
    position: relative;
    
}

.bat-heating:hover .stick {
    transform: rotate(-40deg);
    transform-origin: 100% 0%;
}

.stick {
    width: 40px;
    height: 400px;
    background-color: tomato;
    border-radius: 20px;
    transition: transform 3s ease-in;
}

.ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    top: 250px;
    left: 270px;
    transition: transform 3s ease-in-out 3s;
    
}

.bat-heating:hover .ball {
    transform: translate(500px, -300px);
} 


.animation {
    padding: 100px;
}

.animate-box {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: absolute;
    animation-name: drop;
    animation-delay: .4s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes drop {
    0% {
        left: 200px;

    }

    25% {
        left: 300px;
    }

    50% {
        left: 400px;
    }

    75% {
        left: 500px;
    }

    100% {
        left: 700px;
    }
}

.flex-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.flex-box .box {
    width: 200px;
    height: 150px;
    background: orangered;
    border-radius: 5px;
    text-align: center;
    margin: 10px auto;
}

.container {
    display: flex;
}

.container .items {
    
}

.calendar {
    width: 500px;
    background-color: rgb(235, 234, 234);
    margin: 300px;
    padding: 50px 30px;
}

.calendar h2 {
    font-size: 38px;
    padding: 30px 0;
    text-align: center;
}
.calendar ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar ul li {
    list-style: none;
    font-size: 16px;
    font-family: tahoma;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px 7px;
    transition: background-color .3s ease-in-out;
}

.calendar ul li:nth-child(3) {
    background-color: rgb(255, 255, 255);
}

.calendar ul li:hover {
    background-color: rgba(128, 128, 128, 0.637);
}

.next-month {
    color: #747373;
}

.another-month {
    width: 600px;
    background-color: rgb(201, 197, 197);
    padding: 100px;
    margin: 0 auto;
}
.another-month h2 {
    font-size: 32px;
    text-align: center;
}
.another-month .june {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.another-month ul li {
    display: flex;
    gap: 10px;
    margin: 3px;
    padding: 10px;
    font-size: 1.25rem;
    background-color: rgba(128, 128, 128, 0.459);
    justify-content: center;
}

.another-month .june .disable {
    background-color: #ddd;
    color: #9b9a9a;
}