* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("images/Untitled\ design.png");
    background-size: cover;
    background-position: top-center;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 2vh;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container h3 {
    font-size: 24px;
    
}
.container h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container p {
    width: 60%;
    padding: 20px 0;
    line-height: 24px;
}
.container a {
    display: inline;
    margin-right: 15px;
    background-image: linear-gradient(to right, blue, green);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-txt {
    width: 50%;
    height: 100vh;
    float: left;
    margin: auto;
    padding-top: 200px;
    
}

.banner-img {
    width: 50%;
    overflow: hidden;
}

.banner-img img {
    width: 80%;

}

.experience .container > h2 {
    font-size: 48px;
    padding-bottom: 100px;

}

.left-area, .right-area {
    width: 45%;
    float: left;
    text-align: left;
    background: rgba(160, 155, 155, 0.486);
    padding: 30px 20px;
}
.left-area h3, .right-area h3 {
    font-size: 38px;
}
.left-area span, .right-area span {
    font-size: 24px;
    color: orange;
}
.left-area p, .right-area p {
    color: dimgray;
}
.right-area {
    margin-left: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow, green, purple);
    border-image-slice: 1;
}