* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-image: url("images/Untitled\ design.png");
    background-size: cover;
    background-position: top-center;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 2vh;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.container h3 {
    font-size: 24px;
    
}
.container h1 {
    font-size: 80px;
    text-transform: uppercase;
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container p {
    width: 60%;
    padding: 20px 0;
    line-height: 24px;
}
.container a {
    display: inline;
    margin-right: 15px;
    background-image: linear-gradient(to right, blue, green);
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner-txt {
    width: 50%;
    height: 100vh;
    float: left;
    margin: auto;
    padding-top: 200px;
    
}

.banner-img {
    width: 50%;
    overflow: hidden;
}

.banner-img img {
    width: 80%;

}

.experience .container > h2 {
    font-size: 48px;
    padding-bottom: 100px;

}

.left-area, .right-area {
    width: 45%;
    float: left;
    text-align: left;
    background: rgba(160, 155, 155, 0.486);
    padding: 30px 20px;
}
.left-area h3, .right-area h3 {
    font-size: 38px;
}
.left-area span, .right-area span {
    font-size: 24px;
    color: orange;
}
.left-area p, .right-area p {
    color: dimgray;
}
.right-area {
    margin-left: 5%;
    border-left: 7px solid;
    border-image: linear-gradient(red, yellow, green, purple);
    border-image-slice: 1;
}

table {
    border-collapse: collapse;
}

.second-table {
    border: 1px solid #000;
}

.second-table th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px;
}

.form {
    width: 450px;
    background-image: linear-gradient(to right, purple, rgb(160, 13, 13));
    margin: 0 auto;
    padding: 40px 0;
}

.form form {
    width:400px;
    padding: 70px 50px;
    background-color: #fff;
    margin: 0 auto;
}

.form form h2 {
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.form form .login, .signup {
    width: 45%;
    display: block;
    float: left;
    background-image: linear-gradient(to right, purple, rgba(161, 10, 10, 0.671));
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    border: 1px solid #fff;
    margin-bottom: 20px;
    text-align: center;
}
.form form .signup {
    background-image: none;
    border: 1px solid #010101 !important;
    color: #000;
}
.form form input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    outline: none;
    outline-offset: none;
   
}

.forgotpass {
    font-size: 14px;
    text-decoration: none;
    color: red;
}

.form form input[type=submit] {
    background-image: linear-gradient(to right, purple, rgb(172, 18, 18));
    border: none;
    border-radius: 3px;
    color: #fff;

}

.transform .box {
    border: 1px solid #ddd;
    width: 300px;
    height: 300px;
    background-color:rgb(160, 13, 13);
}

.transform .box .inner {
    background: greenyellow;
    transform: rotate(45deg);
}